$layout-margin: 8px;
$layout-margin-md: 5%;
$layout-margin-lg: 10%;
$layout-margin-xl: 10%;

$button-padding-small: $layout-margin;
$button-padding-medium: $layout-margin * 1.5;

$navbar-height: 62px;

$footer-height: 50px;
$footer-text: 13px;

$sidebar-width: $layout-margin * 28;
